.red{
	width: 70px;
	height: 190px;
	border: 2px solid;
	animation-name: trying;
	animation-duration: 4s;

}


.try {
    width:70px;
    height: 190px;
    border: 2px solid;
    animation-name: trying;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
    animation-duration: 4s;
	transform: skewY(40deg);    
}

.ury{
	width: 70px;
	height: 170px;
	border: 2px solid;
	animation-name: ret;
    animation-duration:5s; 
    transform: skewY(40deg);
}



@keyframes trying {
	
    50% {background-color: red;margin-left:400px;}
    100%{background-color: blue;margin-left:800px;}
}

@keyframes ret{
	50%{background-color: green;margin-left: 30px;}
    100%{background-color: silver;margin-left: 60px;} 
}