div{
	width: 400px;
	height: 100px;
	border: 2px solid;
	animation-name: trying;
	animation-duration: 4s;

}



.try {
	/*transform: rotateY(150deg);
	transform: skewY(40deg);
	-ms-transform: rotate(20deg);*/
    
} 

@keyframes trying {
	 0% {background-color: red;margin-left:10px;}
    25% {background-color: blue;margin-left:20px;}
    50% {background-color: green;margin-left:30px;}
    100% {background-color: aqua;margin-left:50px;}
    150%{background-color: silver;margin-left:60px;}
}