.class {
	border: 140px solid red;
	border-radius: 50%;
	background-color:skyblue  ;
	padding: 80px;
	margin:30px;
	box-shadow: 40px 50px;
}
.divstatic{
	position: static;
	border:3px solid #7785;
}

.shadow {
	border: 70px solid;
       box-shadow: 40px 30px orange;
}

.bcrf{
	border:70px solid;
	box-shadow: 40px 30px lightgrey;
}
.try{
	border:70px solid;
	box-shadow: 40px 30px green;
}

.section:before{
	content: "add text before section"
}

.res{
	border-radius: 70px;
	box-shadow: 40px 50px #0758ed;
}

.ber{
border-radius: 60px;
box-shadow: 40px 20px  green;
}

.ter{
	border-radius:50%;
	border-color: blue;
	box-shadow: 40px 30px red;
}



